extends layout

block content
  
  div(class="container sections-wrapper")
    div(class="row")
      div(class="primary col-md-12")
        .header
          .col-md-9
            form(action='/admin/home', method='get')
              input(type="submit", class="home-btn", value="<<Home")
          .col-md-3  
            form(action='/admin/signout', method='get')
              input(type="submit", class="logout-btn", value="Logout")
        h1 Welcome to Code Like Ninja Admin Page

        div(class="col-md-12 col-sm-12 col-xs-12")
          ul(class="flex-container")
            div(class="alert alert-info col-md-12 col-sm-12 col-xs-12 alert-box", id="post-alert-box1")
              a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
              p Succesfully removed "!{rem}" post

            script.
              if(!{post_deleted} == true)
                document.getElementById("post-alert-box1").style.display = "block";

        section(class="section")
          h2.admin Delete Post
          div(class="section-inner")
            form(role="form", method="post", action="/admin/del_post")
              div(class="form-group")
                label(for="post_title") Post Title
                input(type="text", class="form-control",name="post_title", id="post_title", placeholder="Title")
              button(type="submit", class="btn btn-success") Delete
              
        div(class="col-md-12 col-sm-12 col-xs-12")
          ul(class="flex-container")
            div(class="alert alert-info col-md-12 col-sm-12 col-xs-12 alert-box", id="post-alert-box2")
              a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
              p The post has been updated

            script.
              if(!{post_updated} == true)
                document.getElementById("post-alert-box2").style.display = "block";


        section(class="section")
          h2.admin Update Post
          div(class="section-inner")
            form(role="form", method="post", action="/admin/upd_post")
              div(class="form-group")
                label(for="post_title") Post Title
                input(type="text", class="form-control",name="post_title", id="post_title", placeholder="Title")
              div(class="form-group")
                label(for="desc_short") Short Description
                textarea(rows="3", class="form-control",name="desc_short", id="desc_short", placeholder="Short Description")
              div(class="form-group")
                label(for="post_descr") Description
                textarea(rows="10", class="form-control",name="post_descr", id="post_descr", placeholder="Description")  
              div(class="form-group")
                label(for="post_author") Author
                input(type="text", class="form-control", id="post_author", placeholder="Author")
              div(class="form-group")
                label(for="post_category") Category
                input(type="text", class="form-control", id="post_category", placeholder="Category")    
              div(class="form-group")
                label(for="post_tags") Tags
                input(type="text", class="form-control", id="post_tags", placeholder="Tags")

              button(type="submit", class="btn btn-success") Update