extends layout

block content
  div(class="container sections-wrapper")
    div(class="row")
      div(class="primary col-md-12")
        h1 Welcome to 忍者コーダー Admin Page
        section(class="section")
          div(class="section-inner")
            h2.admin Post
            form(role="form")
              a(href="/admin/add_post", class="admin") Add a Post
            form(role="form")
              a(href="/admin/mod_post", class="admin") Modify / Delete a Post

        section(class="section")
            div(class="section-inner")
              h2.admin Editor
              form(role="form")
                a(href="/admin/add_editor", class="admin") Add an Editor
              form(role="form")
                a(href="/admin/mod_editor", class="admin") Modify / Delete an Editor

        div(class="col-md-12 col-sm-12 col-xs-12 main-container")
          ul(class="flex-container")
            div(class="alert alert-info col-md-12 col-sm-12 col-xs-12 alert-box", id="images_clean-alert-box")
              a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
              p The temp ./uploads have been cleaned

            script.
              if(!{images_cleaned} == true)
                document.getElementById("images_clean-alert-box").style.display = "block";  

        section(class="section")
            div(class="section-inner")
              h2.admin Image Cleaning
              form(role="form")
                a(href="/admin/clean_images", class="admin") Clean /uploads        

        div(class="col-md-12 col-sm-12 col-xs-12 main-container")
          ul(class="flex-container")
            div(class="alert alert-info col-md-12 col-sm-12 col-xs-12 alert-box", id="newsletter-alert-box")
              a(href="#", class="close", data-dismiss="alert", aria-label="close") &times;
              p The newsletter has been sent

            script.
              if(!{newsletter_sent} == true)
                document.getElementById("newsletter-alert-box").style.display = "block";        

        section(class="section")
            div(class="section-inner")
              h2.admin Newsletter
              form(role="form")
                a(href="/admin/email_manager", class="admin") Email Manager
              form(role="form")
                a(href="/admin/newsletter_preveiw", class="admin") Preview
              form(role="form")
                a(href="/admin/newsletter_send", class="admin") Send             