extends layout

block content
  div(class="container sections-wrapper")
    div(class="row")
      div(class="primary col-md-12")
        h1 Welcome to 忍者コーダー Admin Page
        section(class="section")
          div(class="section-inner")
            h2.admin Post
            form(role="form")
              a(href="/admin/add_post", class="admin") Add a Post
            form(role="form")
              a(href="/admin/mod_post", class="admin") Modify / Delete a Post

        section(class="section")
            div(class="section-inner")
              h2.admin Editor
              form(role="form")
                a(href="/admin/add_editor", class="admin") Add an Editor
              form(role="form")
                a(href="/admin/mod_editor", class="admin") Modify / Delete an Editor   