extends layout

block header
  h1 Welcome to Admin Page - Add Post
block content
  div(id="message")
  
  div(class="container sections-wrapper")
    div(class="row")
      div(class="primary col-md-12")
        section(class="section")
          div(class="section-inner")
            form(role="form", method="post", action="/admin/add_post")
              div(class="form-group")
                label(for="post_title") Post Title
                input(type="text", class="form-control",name="post_title", id="post_title")
              div(class="form-group")
                label(for="post_image") Image
                input(type="file", name="post_image", id="post_image", accept="image/*")
              div(class="form-group")
                label(for="post_descr") Description
                textarea(rows="10", class="form-control",name="post_descr", id="post_descr")  
              div(class="form-group")
                label(for="post_author") Author
                input(type="text", class="form-control",name="post_author", id="post_author")
              div(class="form-group")
                label(for="post_category") Category
                input(type="text", class="form-control",name="post_category", id="post_category")  
              div(class="form-group")
                label(for="post_tags") Tags
                input(type="text", class="form-control",name="post_tags" id="post_tags")
              button(type="submit", class="btn btn-success")  Save   