extends layout

block header
  h1 Welcome to Admin Page
block content
  
  div(class="container sections-wrapper")
    div(class="row")
      div(class="primary col-md-12")
        section(class="section")
          div(class="section-inner")
            form(role="form")
              h3 Insert Post
              a(href="/admin/add_post") Insert
            form(role="form")
              h3 Modify/Delete Post
              a(href="/admin/mod_post") Modify/Delete  