extends layout1

block content
	.login-wrapper
		.container-fluid
			.row
				.col-md-12.main-container
					//.col-md-7.left-div
						img(src="/img/login.jpg")
					.col-md-5.right-div
						h1 Welcome,
						h2 Login to your account
						.login-box
							form(action='/admin/login', method='POST')
								input(type='text', name='username', placeholder='Enter your username',required, autofocus)
								br
								br
								input(type='password', name='password', placeholder='Enter password', required)
								br
								br
								button(type='submit') Login
								span.clearfix
						#message
							if message
								h1.text-center.error-message #{message}