include mixins

doctype html
html
  head
    title Code Like Ninja
    script(type="text/javascript",src="/js/jquery-2.0.3.min.js")
    script(type="text/javascript",src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/signin.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Martel+Sans')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:700', rel='stylesheet', type='text/css')
    script(type="text/javascript", src="/css/bootstrap/js/bootstrap.min.js")
    link(rel='stylesheet', href='/css/admin_style.css')
    link(rel='stylesheet', href='/css/prism.css')
    link(rel='stylesheet', href='/js/template/style.css')
    link(rel='stylesheet', href='/css/admin_email.css')
    script(type="text/javascript", src="/js/blog.js")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #wrap
      .container-fluid
        block content
    block footer


  script(type="text/javascript", src="/js/jquery.bootpag.min.js")
  script(type="text/javascript", src="/js/prism.js")
  script(type="text/javascript", src="/js/ga_analytics.js") 
