body 
  background #EEEEEE

.primary 
  background #DDDDDD
  padding-top 20px

.secondary
  background #111111
  padding-top 20px

.sections-wrapper 
  padding-top 60px
  padding-bottom 60px


ul 
  padding-top 10px
  border-top 2px solid #888888


#email

