/* SECTION */
.section
  margin-bottom 30px;
  
.section .section-inner
  background #FFFFFF
  padding 30px

.section .heading 
  margin-top 0
  margin-bottom 30px
  color #545e69
  font-size 24px


.section p 
  overflow inherit

.section .content .more-link .fa 
  margin-right 5px
  font-size 14px


aside 
  background #DDDDDD
