extends layout

block content
	- for(var i=0 ; i< email.length ; i++) {
		input(type="checkbox" name="chk_group[]" value="value"+i)
		label= email[i].email
		//p=email[i].email
		br
		//p=ht
	-}
		


