html
	head
		title Code Like Ninja: Subscription confirmed

		meta(name="viewport", content="width=device-width")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

		link(href='http://fonts.googleapis.com/css?family=Oswald:700', rel='stylesheet', type='text/css')
		link(rel="stylesheet", type="text/css", href="/css/newsletter.css")

	body(bgcolor="#FFFFFF", topmargin="0", leftmargin="0", marginheight="0", marginwidth="0")

		table(class="head-wrap", bgcolor="#5682A3")
			tr
				td
				td(class="header container", align="")
					div(class="content")
						table(bgcolor="#5682A3")
							tr
								td
									img(src="http://res.cloudinary.com/codejitsu/image/upload/v1436193413/logo_wc2dyj.png")
								td
									h2(id="logoTitle") Code Like Ninja
								td(align="right")
									h6(class="collapse", class="grey-color") NEWSLETTER
				td

		<!-- BODY -->
		table(class="body-wrap", bgcolor="")
			tr
				td
				td(class="container", align="", bgcolor="#FFFFFF")

					<!-- content -->
					div(class="content")
						table
							tr
								td
									h2= "Subscription " + key
									h4= msg


					


					<!-- content -->
					div(class="content")
						table(bgcolor="")
							tr
								td
									<!-- social & contact -->
									table(bgcolor="", class="social", width="100%")
										tr
											td
												table(bgcolor="", class="social", width="100%")
													tr
														td
															div(class="column")
																table(bgcolor="", cellpadding="", align="left")
																	tr
																		td
																			h5 Connect with Us:
																			p(class="")
																				a(href="https://www.facebook.com/pages/Code-Like-Ninja/849805705099929",target="_blank", class="soc-btn fb") Facebook
																				a(href="https://twitter.com/codelikeninja",target="_blank", class="soc-btn tw") Twitter
																				a(href="https://plus.google.com/b/115333740549284826302/115333740549284826302/",target="_blank", class="soc-btn gp") Google+

															div
																div(class="column")
																	table(bgcolor="", cellpadding="", align="left")
																		tr
																			td
																				h5(class="") Contact Info:
																				
																				a(href="emailto:codelikeninja@gmail.com") codelikeninja@gmail.com


															div(class="clear")


		<!-- FOOTER -->
		table(class="footer-wrap-subs")
			tr
				td
				td(class="container")
					<!-- content -->
					div(class="content")
						table
							tr
								td(align="center")
									p(class="footer-links")
										a(href="/") HOME
										a(href="/home/about") ABOUT
										a(href="/home/contact_us") CONTACT
							tr
								td(align="center")
									p(class="copyright") © 2015  Code Like Ninja limited. Trademarks and brands are the property of their respective.