.login-wrapper, .main-container {
	background-color: #1F1F1F;
}

.left-div img {
	max-width: 90%;
}


.right-div{
	margin-top: 90px;
	background-color: #1F1F1F;
	padding-right: 2px;
	color: #EEE;
}
.right-div h3 {
	color: #EEE;
}

.right-div input {
	height: 40px;
	width: 350px;
	border: 0;
	font-weight: 30;
	padding-left: 10px;
	background: #FFF;
	color: #333;
}

h3.error-message {
	color: #DD0000;
}

.header .col-md-9, .header .col-md-3{
	padding-bottom: 10px;
}

.logout-btn{
  float: right;
  color: #fff;
  padding: 6px;
  background: #2AA4CF;
  border: 0;
}

.login-btn{
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100px;
  background: #2AA4CF;
  border: 0;
}    

.logout-btn:hover, .login-btn:hover{
	 color: #FFF;
	 background: #DD0000;
}

.home-btn{
  color: #fff;
  padding: 6px;
  background: #2AA4CF;
  border: 0;
}

.home-btn:hover{
  background: #89E07F;
}

.hey-there{
	background : #EEEEEE;
}


.h4-info {
	width : auto;
}

section {
	background : #FFF;
	padding : 20px;
	margin-bottom: 20px;
	height: auto;
  	width: 100%;
  	font-family: 'Lato', sans-serif;
}

section.analytics {
	padding-top: 0px;
	height: auto;
}

section.ga-section {
	padding-top: 0px;
	padding-bottom: 0px;
}

section.home-section {
	height: 250px;
	padding-top: 0px;
	width: 30%;
	margin-right: 20px;
}

section h2.admin {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	background-color: #333;
	color: #CCC;
	padding: 5px;
	font-family: 'Oswald', sans-serif;
}

section a.admin {
	font-size: 25px;
	padding: 10px;
	color: #333;
	text-decoration: none;
}

section a.admin:hover {
	color: #003298;
	text-decoration: none;
}

.alert-box{
  margin: 10px;
  width: 100%;
  padding: 4px;
  background: #399FC5;
  color: #eee;
  text-align: center;
  margin-left: 0px;
  width:103%;
  display: none;
}

section.image-section {
	height: 1200px;
}

form.image_upload {
	width: 48%;
	border: 2px solid #555;
	background-color: #EEE;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: 20px;
	float: left;
}

form.image_upload_others {
	width: 98%;
	border: 2px solid #555;
	background-color: #EEE;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: 20px;
	float: left;
}

form.image_upload img, form.image_upload_others img {
	margin-top: 10px;
}

object.image, img.image {
	float: left;
	height: 200px;
	width: 400px;
	margin-top: -10px;
	margin-right: 20px;
	margin-bottom: 20px;
	//border: 2px solid #000;
}

.photo-box-info {
	padding: 5px;
	background: #1565C0;
	color: #eee;
  	text-align: center;
  	word-wrap: break-word;
	width: 100%;
	height: auto;
}

.photo-box-sucess {
	padding: 5px;
	background: #4CAF50;
	color: #eee;
  	text-align: center;
  	word-wrap: break-word;
	width: 100%;
	height: auto;
}

.photo-box-error {
	padding: 5px;
	background: #D32F2F;
	color: #eee;
  	text-align: center;
  	word-wrap: break-word;
	width: 100%;
	height: auto;
}

.photo-box-sucess a {
	text-decoration: none;
	color: #FFF;
}

.photo-box-sucess a:hover {
	text-decoration: none;
	color: #FFF;
}	

h1 {
	font-family: 'Oswald', sans-serif;
	padding-left: 5px;
}

h2.main-title {
	width: 100%;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #2275b4;
	font-family: 'Oswald', sans-serif;
}

.pic2{
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	background: #F1F4F9 ;
}
  

.pic2 img, .pic2 object {
	max-width: 100%;
    height: auto;
}	

div.editor_article{
	color: #555;
	font-size: 19px;
}
div.editor_article ul{
	font-size: 19px;
}

div.editor_article p {
	text-align: left;
	font-size: 19px;
	font-weight: lighter;
	align: left;
	margin-bottom: 20px;
}

div.editor_article h3 {
	padding-bottom: 10px;
	border-bottom: 2px solid #DDD;
}

div.editor_article pre {
	margin-bottom: 20px;
	border: 0;
	font-size: 14px;
	padding-left: 20px;
}
  
div.editor_article blockquote{
  background-color: #F8F8F8;
  border-left: 6px solid #4EABF1;
  font-size: 14px;
  font-style: oblique;  
}


div.editor_article img,div.editor_article object{
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;  
}

div.editor_article img.left{
  max-width: 40%;
  height: auto;
  margin-right: 20px;
  float: left; 
}

div.editor_article img.right{
  max-width: 40%;
  height: auto;
  margin-left: 20px;
  float: right; 
}    

@media all and (max-width : 660px){
	div.editor_article img{
		width: 100%;
	    max-width: 100%;
	    height: auto;
	}
	div.editor_article img.left{
	  width: 100%;
	  max-width: 100%;
	  margin-left: 0px;
	}

	div.editor_article img.right{
	  width: 100%;
	  max-width: 100%;
	  margin-right: 0px;
	}        
}

div.email-container {
	background : #FFF;
	height: auto;
  	width: 100%;
}


div.checkbox {
	width: 300px;
	background-color: #DDD;
	padding: 5px;
	float: left;
	margin-right: 10px;
	font-size: 18px;
}

div.clear {
	clear : both;
}

button.btn {
	
}
  

.flex-container {
  padding-left: 0px;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background: #ebeced;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display; -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  font-family :'Lato', sans-serif;
}   

.flex-container .flex-item {
  border-bottom: 1pt solid #e7e7e7;
  background: #fff;
  margin-bottom: 13px;
  padding: 5px;
  color: black;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
  border-radius: 2px;
}

.flex-container .post-body{
  clear: left;
  margin-top: 0px;
  text-align: left;
}

.flex-container .post-body .pic2 {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  background: #F1F4F9;
}  

.flex-container .post-body .pic2 img {
    max-width: 100%;
    height: auto;
}

.flex-container .post-body .post-content{
  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #444;
  font-size: 18px;
 }  