.main-container {
	background-color: #1D1D1F;
}

.left-div img {
	max-width: 74%;
}


.right-div{
	margin-top: 90px;
	background-color: #1D1D1F;
	padding-right: 2px;
	color: #EEE;
}
.right-div h3 {
	color: #EEE;
}

.right-div input {
	height: 40px;
	width: 350px;
	border: 0;
	font-weight: 30;
	padding-left: 10px;
	background: #FFF;
	color: #333;
}

h3.error-message {
	color: #DD0000;
}

.header .col-md-9, .header .col-md-3{
	padding-bottom: 10px;
}

.home-btn{
  color: #fff;
  padding: 6px;
  background: #2AA4CF;
  border: 0;
}

.home-btn:hover{
  background: #89E07F;
}

section {
	background : #FFF;
	padding : 20px;
	margin-bottom: 20px;
	height: auto;
  	width: 100%;
  	font-family: 'Lato', sans-serif;
}
.hey-there{
	background : #EEEEEE;
}


.h4-info {
	width : auto;
}

.col-md-3 form {
	padding: 0px;
}


.logout-btn{
  float: right;
  color: #fff;
  padding: 6px;
  background: #2AA4CF;
  margin-top: 20px;
  border: 0;
}

.login-btn{
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100px;
  background: #2AA4CF;
  border: 0;
}    

.logout-btn:hover, .login-btn:hover{
	 color: #2AA4CF;
	 background: #FFF;
}

section.analytics {
	padding-top: 0px;
	height: auto;
}

section.ga-section {
	padding-top: 0px;
	padding-bottom: 0px;
}

section.home-section {
	height: 250px;
	padding-top: 0px;
	width: 30%;
	margin-right: 20px;
}

section h2.admin {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	background-color: #333;
	color: #CCC;
	padding: 5px;
	font-family: 'Oswald', sans-serif;
}

section a.admin {
	font-size: 25px;
	padding: 10px;
	color: #333;
	text-decoration: none;
}

section a.admin:hover {
	color: #003298;
	text-decoration: none;
}

.alert-box{
  margin: 10px;
  width: 100%;
  padding: 4px;
  background: #399FC5;
  color: #eee;
  text-align: center;
  margin-left: 0px;
  width:103%;
  display: none;
}

section.image-section {
	height: 1100px;
}

form.image_upload {
	width: 48%;
	border: 2px solid #555;
	background-color: #EEE;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: 20px;
	float: left;
}

form.image_upload_others {
	width: 98%;
	border: 2px solid #555;
	background-color: #EEE;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: 20px;
	float: left;
}

form.image_upload img, form.image_upload_others img {
	margin-top: 10px;
}

object.image, img.image {
	float: left;
	height: 200px;
	width: 400px;
	margin-top: -10px;
	margin-right: 20px;
	margin-bottom: 20px;
	//border: 2px solid #000;
}

.photo-box-info {
	padding: 5px;
	background: #1565C0;
	color: #eee;
  	text-align: center;
  	word-wrap: break-word;
	width: 100%;
	height: auto;
}

.photo-box-sucess {
	padding: 5px;
	background: #4CAF50;
	color: #eee;
  	text-align: center;
  	word-wrap: break-word;
	width: 100%;
	height: auto;
}

.photo-box-error {
	padding: 5px;
	background: #D32F2F;
	color: #eee;
  	text-align: center;
  	word-wrap: break-word;
	width: 100%;
	height: auto;
}

.photo-box-sucess a {
	text-decoration: none;
	color: #FFF;
}

.photo-box-sucess a:hover {
	text-decoration: none;
	color: #FFF;
}	

h1 {
	font-family: 'Oswald', sans-serif;
	padding-left: 5px;
}

h2.main-title {
	width: 100%;
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #2275b4;
	font-family: 'Oswald', sans-serif;
}

.pic2{
	height: auto;
	width: 100%;
	margin-bottom: 20px;
	background: #F1F4F9 ;
}
  

.pic2 img{
	max-width: 100%;
    height: auto;
}	

div.editor_article p {
	text-align: left;
	font-size: 18px;
	align: left;
}
  
div.editor_article blockquote{
  background-color: #efefef;  
}

div.editor_article img{
  height: 500px;
  width: 900px;
  margin-bottom: 10px;  
}  

@media all and (max-width : 660px){
	div.editor_article img{
	    height: 200px;
	    width: 290px;
	}    
}

div.email-container {
	background : #FFF;
	height: auto;
  	width: 100%;
}


div.checkbox {
	width: 300px;
	background-color: #DDD;
	padding: 5px;
	float: left;
	margin-right: 10px;
	font-size: 18px;
}

div.clear {
	clear : both;
}

button.btn {
	
}
  
