html
	head
		title 忍者コーダー

		meta(name="viewport", content="width=device-width")
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		
		link(rel="stylesheet", type="text/css", href="/public/css/email.css")

	body(bgcolor="#FFFFFF", topmargin="0", leftmargin="0", marginheight="0", marginwidth="0")


		h2 Hello 
		h2= name

		table(class="head-wrap", bgcolor="#446382")
			tr
				td
				td(class="header container", align="")
					div(class="content")
						table(bgcolor="#446382")
							tr
								td
									img(src="../public/img/logo.png")
								td
									h3(id="logoTitle") 忍者コーダー
								td(align="right")
									h6(class="collapse", class="grey-color") NEWSLETTER
				td

		<!-- BODY -->
		table(class="body-wrap", bgcolor="")
			tr
				td
				td(class="container", align="", bgcolor="#FFFFFF")

					<!-- content -->
					div(class="content")
						table
							tr
								td
									h1 Popular posts this week
									h3 Game of thrones
									p(class="lead")
										| Game of Thrones is an American fantasy drama television series created for HBO.
										|	It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy 
										| novels, the first of which is titled A Game of Thrones.
									p
										img(src="http://placehold.it/600x300")
									p
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt

					<!-- content -->
					div(class="content")
						table(bgcolor="")
							tr
								td(class="small", width="20%", style="vertical-align: top; padding-right:10px;")
									img(src="http://placehold.it/75x75")
								td
									h4 Title Ipsum
									p(class="")
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
									a(class="btn") Read More &raquo;


					<!-- content -->
					div(class="content")
						table(bgcolor="")
							tr
								td
									p(class="callout")
										| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
										| a(href="#") Do it Now! &raquo;


					<!-- content -->
					div(class="content")
						table(bgcolor="")
							tr
								td
									<!-- social & contact -->
									table(bgcolor="", class="social", width="100%")
										tr
											td
												table(bgcolor="", class="social", width="100%")
													tr
														td
															div(class="column")
																table(bgcolor="", cellpadding="", align="left")
																	tr
																		td
																			h5 Connect with Us:
																			p(class="")
																				a(href="#", class="soc-btn fb") Facebook
																				a(href="#", class="soc-btn tw") Twitter
																				a(href="#", class="soc-btn gp") Google+

															div
																div(class="column")
																	table(bgcolor="", cellpadding="", align="left")
																		tr
																			td
																				h5(class="") Contact Info:
																				p Phone:
																					strong 0820-213213
																				Email:
																					strong
																						a(href="emailto:ravishetty150@gmail.com") ravishetty150@gmail.com


															div(class="clear")

		<!-- FOOTER -->
		table(class="footer-wrap")
			tr
				td
				td(class="container")
					<!-- content -->
					div(class="content")
						table
							tr
								td(align="center")
									p(class="footer-links")
										a(href="#") HOME
										a(href="#") ABOUT
										a(href="#") CONTACT
										a(href="#") HOME
											unsubscribe UNSUBSCRIBE
							tr
								td(align="center")
									p(class="copyright") © 2015  忍者コーダー limited. Trademarks and brands are the property of their respective.