extends layout

block content
	#container
		h1 Node.js Mailer
		input(id="to" type="text" placeholder="Email ID")
		input(id="subject" type="text" placeholder="Enter subject")
		textarea(id="content" cols="40" rows="5" placeholder="Write what you want to send")
		button(id="send_email") Send Email
		span(id="message")


