.container-fluid
	header(class='row')
		.span12
			.navbar
				.navbar-inner
					a(href="#" , class="brand") WebTuts
					ul(class="nav")
						li
							a(href="#") Home
						li(class="divider-vertical") 
