div.editor_article p
  text-align left
  align left

div.editor_article img
  height 500px
  width 900px  

@media all and (max-width : 660px)
  div.editor_article img
    height 200px
    width 290px