body 
  background #fff
  font-family 'Martel Sans', sans-serif


.main-container
	height auto
	margin-top 80px
	
.main-container .flex-container 
  padding-left 10px
  margin 0
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  justify-content space-around
  font-family 'Martel Sans', sans-serif


.main-container .flex-container .flex-item
  border-bottom 1pt solid #e7e7e7
  background #fff
  padding 5px
  margin-top 20px
  color black
  -webkit-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  -moz-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)


.flex-container h2
	color #2275b4
	text-decoration none
	
.flex-container .subhead
	color #404040
	font-size 15px
	
	
.flex-container .post-body
  float left
  margin-top 15px 
 
  
.flex-container .post-body .pic
  height 150px
  background #FF0000

.flex-container .post-body .post-content
  background #fff
  font-size 15px
  
.flex-container .tag-body
  margin-top 20px;
  padding 0
  margin 0
  float left
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  padding-left 40px;
  justify-content right

  
.flex-container .tag-body .tag-item
  padding 5px
  margin-top 10px
  color #fff
  background #33691e
  margin-right 8px
  border-radius 5px
  
.flex-container .tag-body .tag-item:first-child
  padding 5px
  margin-top 10px
  color #000
  background #fff
  margin-right 10px 

.readmore
  font-size 20px
  color #2275b4


.aside-container
	margin-top 80px
	border-left 1px solid #e7e7e7
	height 500px;
 



.aside-container .connect
  height 140px
  background #fff
  margin-top 20px
  -webkit-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  -moz-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  
.aside-container .connect .heading
  height auto
  text-align center
  background #3b4a5a
  float left
  color #fff
  width 100%
  
.aside-container .connect .social
  padding-left 10px
  margin 0
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  justify-content space-around

  
.aside-container .connect .social .social-btn
  width auto
  margin 3px
  margin-top 10px
  color #fff
  background #33691e
  border-radius 5px
  
.aside-container .subscribe
  height 140px
  background #fff
  margin-top 30px
  -webkit-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  -moz-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  
.aside-container .subscribe .heading
  height auto
  text-align center
  background #3b4a5a
  float left
  color #fff
  width 100%