body 
  background #EEEEEE
  font-family 'Martel Sans', sans-serif

@media screen and (max-width : 760px )
  .row
    margin-top 0px
    margin-bottom 130px
  .secondary
    margin-bottom 250px  

.row
    margin-top 0px
    margin-bottom 100px

.main-container
	height auto
	margin-top 10px
	
.main-container .flex-container 
  padding-left 10px
  margin 0
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  justify-content space-around
  font-family 'Martel Sans', sans-serif


.main-container .flex-container .flex-item
  border-bottom 1pt solid #e7e7e7
  background #fff
  padding 5px
  margin-top 20px
  color black
  -webkit-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  -moz-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)


.flex-container h2
  margin-left 20px
	color #2275b4
	text-decoration none
	
.flex-container .subhead
  margin-left 20px
	color #404040
	font-size 15px
	
	
.flex-container .post-body
  float left
  margin-top 15px 
  
.flex-container .post-body .pic
  height 150px
  background #B6A78A

.flex-container .post-body .pic2
  height 350px
  margin-bottom 20px
  background #B6A78A    

.flex-container .post-body .post-content
  background #fff
  font-size 15px

.flex-container .about-body
  float left
  margin-bottom 20px 

.flex-container .about-body .about-head
  margin-top 10px  

.flex-container .about-body .dev-pic
  height 150px
  width 150px
  background #B6A78A

.flex-container .about-body .about-content
  background #fff
  font-size 15px 

.flex-container .editor-body
  padding 20px
  float left
  margin-bottom 20px
  margin-right 20px  

.flex-container .editor-body .dev-pic
  height 150px
  width 150px
  background #B6A78A     
  
ul.tags 
  list-style: none;
  margin-top: 20px;
  overflow: hidden; 
  padding: 0;
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  padding-left 10px;
  justify-content right


.tags li 
  float: left; 

.tags li a 
  text-decoration: none !important

.tag 
  background: #7E858D;
  border-radius: 3px 0 0 3px;
  color: #eaeaea;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;


.tag::before 
  background: #eaeaea;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;

.tag::after 
  background: #eaeaea;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #7E858D;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;


.tag:hover 
  background-color: #2AA4CF;
  color: white;


.tag:hover::after 
   border-left-color: #2AA4CF; 


.flex-container .tag-body
  margin-top 20px;
  padding 0
  margin 0
  float left
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  padding-left 10px;
  justify-content right

  
.flex-container .tag-body .tag-item
  padding 5px
  margin-top 10px
  color #fff
  background #288288
  margin-right 8px
  border-radius 5px
  
.flex-container .tag-body .tag-item:first-child
  padding 5px
  margin-top 10px
  color #000
  background #fff
  margin-right 10px 

.readmore
  font-size 20px
  color #2275b4


.aside-container
	margin-top 20px
	border-left 1px solid #e7e7e7
	height 500px;
 



.aside-container .connect
  height auto
  background #eaeaea
  margin-top 20px
  -webkit-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  -moz-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  
.aside-container .connect .heading
  height auto
  text-align center
  background #2f3036
  float left
  color #fff
  width 100%
  
.aside-container .connect .social
  padding-left 10px
  margin 0
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  justify-content space-around

  
.aside-container .connect .social .social-btn
  width auto
  margin 3px
  margin-top 10px
  color #fff
  background #33691e
  border-radius 5px
  
.aside-container .subscribe
  height 140px
  background #eaeaea
  margin-top 30px
  padding-left 50px
  padding-right 50px
  
.aside-container .subscribe .email-box
  margin-top 10px

.aside-container .subscribe .email
  width 200px
  float left
  margin-right 5px

.aside-container .subscribe .email-btn
  color #fff
  padding 8px
  background #2AA4CF
  border-radius 5px
  border 0px

.aside-container .subscribe .email-btn2
  color #fff
  padding 8px
  background #2AA4CF
  margin-top 10px
  border-radius 5px
  border 0px  

.aside-container .subscribe .email-btn:hover
  color #fff
  background #288288     

.aside-container .tagbox
  height auto
  background #eaeaea
  margin-top 30px
  -webkit-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  -moz-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  
.aside-container .tagbox .heading
  height auto
  text-align center
  background #2f3036
  float left
  color #fff
  width 100% 

.aside-container .tagbox .tags
  padding-top 10px
  padding-left 10px
  margin 0
  list-style none
  display -webkit-box
  display -moz-box
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-flow row wrap
  justify-content space-around 

.aside-container .facebook
  height 285px
  background #eaeaea
  margin-top 30px
  -webkit-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  -moz-box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)
  box-shadow 3px 3px 39px -4px rgba(0,0,0,0.51)

.aside-container .facebook .heading
  height auto
  text-align center
  background #2f3036
  float left
  color #fff
  width 100%

.aside-container .facebook .plugin
  padding-top 50px
  text-align center       

.share 
    width 350px
    height 30px
    background #DDD
    float right
    white-space nowrap
    padding-top 5px
    padding-bottom 5px
    padding-left 3px
    border-bottom-left-radius 5px
    vertical-align top

.disqus
  padding 30px    