/* Footer */
.footer
  background-color #212a34
  padding 20px 0 20px 10px
  position relative
  z-index 10
  text-align center
  height 250px
  color #fff
  width 100%
  border-top 6px solid #bbb
  margin-top 10px

p
  text-align center  

div#inner
  display table
  margin 0 auto

div#logoImg
  padding 0
  height 70px
  width 70px
  float left
  background #212a34
  background-image url("/img/logo.png") 

h2
  width 280px
  color  #ddd
  font-family  "Oswald", sans-serif

.footer-links
  list-style none
  font-weight bold
  color #ffffff
  font-size 20px
  padding 35px 0 23px
  margin 0

.footer-links a
  color #bbb
  text-decoration none
  margin-left 10px
  margin-right 10px
  -webkit-transition  all 0.3s
  -moz-transition  all 0.3s
  -ms-transition  all 0.3s
  -o-transition  all 0.3s
  transition  all 0.3s 

.footer-links a:hover
  color #fff
  
footer .copyright
	color #ccc
	width 100%
	padding-bottom 2px
