/* Footer */
footer 
  background #212a34
  color #fff
  font-family 'Ubuntu Light'
  font-size 15px
  height auto
  margin-top 30px
  margin-left -15px
  width 102.3%

footer .box
	background #fff
	width 100%
	height 15px
  
footer .copyright
	color #ccc
	text-align center
	width 100%
	padding-bottom 2px
