/* Footer */
footer 
  background #212a34
  color #fff
  font-family 'Martel Sans', sans-serif
  font-size 15px
  height auto
  margin-top 10px
  width 100%
  
footer .copyright
	color #ccc
	text-align center
	width 100%
	padding-bottom 2px
