/* HEADER */

header-background-color = #f8f8f8

.top
  position fixed
  top 0
  left 0
  z-index 999

header 
  background header-background-color
  height 80px
  padding 5px


header #logo
	height 70px;
	width 70px
	background #ffab00
	float left
	margin-right 20px
	
header .appTitle
	font-family 'Ubuntu Light'
	float left
