/*@font-face 
  font-family Ninja
  src url(/public/css/fonts/ninja.ttf)



header-background-color = #84A3C2

.top
  position fixed
  top 0
  left 0
  z-index 999

header 
  background header-background-color
  height auto
  padding 5px
  border-bottom 6px solid #000


header #logo
	height 70px
	width 70px
	background #2f3036
	float left
	background-image url("/public/img/dp.jpeg")
	margin-right 20px
	
header .appTitle
    color #FFFFFF
    padding 10px
    background #000
    margin-top 5px
    margin-left 90px
    width 250px
	font-family 'Ninja', sans-serif
	float left

nav .navbar
	margin-top 10px
	margin-bottom -5px	*/
 
  
 header 
    width 100%
    height 100px
    overflow  hidden
    position  fixed
    top  0
    left  0
    z-index  999
    background-color  #446382
    -webkit-transition  height 0.3s
    -moz-transition  height 0.3s
    -ms-transition  height 0.3s
    -o-transition  height 0.3s
    transition  height 0.3s

header div#logoImg
    padding 0
    height 70px
    width 70px
    margin-top 15px
    margin-left 10px
    background #446382
    float left
    background-image url("/img/logo.png")
    -webkit-transition  all 0.3s
    -moz-transition  all 0.3s
    -ms-transition  all 0.3s
    -o-transition  all 0.3s
    transition  all 0.3s
    border 0

header h1#logoTitle 
    display  inline-block
    height  100px
    line-height  80px
    float  left
    font-family  "Oswald", sans-serif
    font-size  50px
    color  #fff
    font-weight  400
    margin-left 20px
    -webkit-transition  all 0.3s
    -moz-transition  all 0.3s
    -ms-transition  all 0.3s
    -o-transition  all 0.3s
    transition  all 0.3s

header nav 
    display  inline-block
    float  right

header nav a 
    line-height  100px
    margin-left  20px
    color  #bec9d3
    font-weight  700
    font-size  18px
    -webkit-transition  all 0.3s
    -moz-transition  all 0.3s
    -ms-transition  all 0.3s
    -o-transition  all 0.3s
    transition  all 0.3s

header nav div
    visibility visible
    float right
    margin-top 30px
    margin-left  20px
    color  #fff
    -webkit-transition  all 0.3s
    -moz-transition  all 0.3s
    -ms-transition  all 0.3s
    -o-transition  all 0.3s
    transition  all 0.3s    

header nav a:hover
    text-decoration none !important 
    color  white

header.smaller 
    height  75px

header.smaller div#logoImg 
    height 50px
    width 50px
    background-image url("/img/logo_small.png")

header.smaller h1#logoTitle
    height  75px
    line-height  50px
    font-size  30px

header.smaller nav a 
    line-height  75px

header.smaller nav div
    visibility hidden

.clearfix:after 
  visibility hidden
  display block
  content ""
  clear both
  height 0 
  
@media all and (max-width : 660px)

    header h1#logoTitle 
        display  block
        float  none
        margin  0 auto
        height  100px
        line-height  100px
        text-align  center
    
    header nav 
        display  block
        float  none
        height  50px
        text-align  center
        margin  0 auto
    
    header nav a 
        line-height  50px
        margin  0 10px

    header nav div
        visibility hidden    
    
    header.smaller 
        height  110px
    
    header.smaller h1#logoTitle 
        height  40px
        line-height  40px
        font-size  30px
    
    header.smaller nav 
        height  35px
    
    header.smaller nav a 
        line-height  35px

    header.smaller nav div
        visibility visible
        text-align  center
        float none
        margin-top 5px
        margin-left  115px
        color  #fff
        -webkit-transition  all 0.3s
        -moz-transition  all 0.3s
        -ms-transition  all 0.3s
        -o-transition  all 0.3s
        transition  all 0.3s  
    

