/* HEADER */

header-background-color = #2f3036

.top
  position fixed
  top 0
  left 0
  z-index 999

header 
  background header-background-color
  height auto
  padding 5px


header #logo
	height 70px;
	width 70px
	background #ffab00
	float left
	margin-right 20px
	
header .appTitle
    color #FFFFFF
	font-family 'Ubuntu Light'
	float left

nav .navbar
	margin-top 10px
	margin-bottom -5px	
