body

.login-wrapper
	font-family 'Martel Sans'
	height 100%
	
.login-wrapper .container-fluid .row .left-div
	background #1E8BC3
	height 100%
	
.login-wrapper .container-fluid .row .right-div
	background #fff
	
