extends layout
block content
	.row
		div(class="col-md-12 col-sm-12 col-xs-12 lost-container")
			.circleBase.lost-content
				img(src="/img/404ninja.png")
				h3 You are lost 404 error!!
				h4 Go home or else the ninjas will find you