extends layout

block content
  .row
    div(class="col-md-8 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item col-md-12")
              h2 About Code-Like-Ninja

              .about-body.col-md-12
                p 
                  | CodeLikeNinja was started in 2004 by the almighty online procrastinator Scrivs.
                  |  The aim of CodeLikeNinja is to bring you cool, less mainstream, geeky news. 
                  |  If it’s cool and Gizmodo or Endgadget don’t have it, this is where you’ll find it.
                  |  CodeLikeNinja was started in 2004 by the almighty online procrastinator Scrivs.
                  |  The aim of CodeLikeNinja is to bring you cool, less mainstream, geeky news. 
                  |  If it’s cool and Gizmodo or Endgadget don’t have it, this is where you’ll find it.


        article(class="flex-item col-md-12")      
              h2(class="about-head") Developers
                  
              .about-body.col-md-12
                h3(class="dev-name") Suraj B.K
                .dev-pic.col-md-4
                .about-content.col-md-8
                  p 
                    | Suraj is a full-fledged work-in-bed freelance writer/editor who sees it her duty to 
                    | keeptabs on the industry”. That may or may not include having to read up on the latest TV 
                    | shows, fantasy and sci-fi books, geek merchandise, and the like. 
              
              .about-body.col-md-12
                h3(class="dev-name") Deekshith
                .dev-pic.col-md-4
                .about-content.col-md-8
                  p 
                    | Deekshith is a full-fledged work-in-bed freelance writer/editor who sees it her duty to 
                    | keeptabs on the industry”. That may or may not include having to read up on the latest TV 
                    | shows, fantasy and sci-fi books, geek merchandise, and the like.

        article(class="flex-item col-md-12")
              h2(class="about-head") Editors
                  
              .editor-body
                h3(class="dev-name") Suraj B.K
                .dev-pic
                h5 Chief Editor
                h5 Follow 
                  a(href="#") @suraj
              
              .editor-body
                h3(class="dev-name") Deekshith
                .dev-pic
                h5 Chief Editor
                h5 Follow 
                  a(href="#") @deekshith

              .editor-body
                h3(class="dev-name") John Cena
                .dev-pic
                h5 Contributing Editor
                h5 Follow 
                  a(href="#") @cena
              
              .editor-body
                h3(class="dev-name") Goku
                .dev-pic
                h5 Contributing Editor
                h5 Follow 
                  a(href="#") @goku    
    

    div(class="secondary col-md-4 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social
          a(class="social-btn")
            img(src="/img/social/32x32/32-twitter.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-facebook.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-googleplus.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-rss.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-youtube.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                input(type=text, class="form-control email", id=email, placeholder="Email")
                button(type=submit, class="email-btn") Subscribe  
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Android
            li
              a(href="#", class="tag") C/C++  
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Aandroid
            li
              a(href="#", class="tag") C/C++           
