extends layout

block content
  .row
    div(class="col-md-8 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item col-md-12")
          h2 Contact

          .about-body.col-md-12
            p 
              | Are you looking to get featured on CodeLikeNinja?
              | Do you have a cool product that you want to share with our readers?
              | We are currently looking for companies that are willing to participate in competitions and 
              | giveaways here on CodeLikeNinja  have an interesting Kickstarter campaign going on then please 
              | let us know!. Our competitions are hugely popular with our readers and we promote across the 
              | blog, Facebook, Twitter and also soon Instagram.

              h4 Please fill out the form below and we will get back to you as soon as possible.
              form(role="form")
                div(class="form-group")
                  label(for="cont_name") Your Name*
                  input(type="text", class="form-control",name="cont_name", id="cont_name", placeholder="Name")
                div(class="form-group")
                  label(for="cont_email") Your Email*
                  input(type="text", class="form-control",name="cont_email", id="cont_email", placeholder="Email")
                  h5 Please add your authentic email address so we could make contact with you.  
                div(class="form-group")
                  label(for="cont_category") Category
                  select(class="form-control",name="cont_category", id="cont_category")
                    option(value="tip") I have a cool tip!
                    option(value="bug") Somethings not right!
                    option(value="greeting") Just wanted to say hi!
                  h5 Please choose the appropriate subject so we can deal with your message faster.
                div(class="form-group")
                  label(for="cont_descr") Description
                  textarea(rows="10", class="form-control",name="cont_descr", id="cont_descr")  
                  h5 Enter your desired message/feedback or complaint.
                button(type=submit) Submit    
    
    

    div(class="secondary col-md-4 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social
          a(class="social-btn")
            img(src="/img/social/32x32/32-twitter.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-facebook.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-googleplus.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-rss.png")
          a(class="social-btn")
            img(src="/img/social/32x32/32-youtube.png")

        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                input(type=text, class="form-control email", id=email, placeholder="Email")
                button(type=submit, class="email-btn") Subscribe  
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Android
            li
              a(href="#", class="tag") C/C++  
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Aandroid
            li
              a(href="#", class="tag") C/C++           
