footer
  .box
  .container
    h2 Code Like Ninja
    h4 HOME
    h4 TUTORIALS
    h4 ABOUT
    h4 CONTACT US
    h6(class="copyright") © 2015 My blog limited. Trademarks and brands are the property of their respective owners.  