footer(class="footer")
  .container-fluid

    div(id="inner")
        div(id="logoImg")
        #footer-title

    p(class="footer-links")
      a(href="/") HOME
      | ·
      a(href="/home/about") ABOUT
      | ·
      a(href="/home/contact_us") CONTACT

    p(class="copyright") © 2015  Code Like Ninja limited. Trademarks and brands are the property of their respective owners.  