script(type="text/javascript", src="/js/classie.js")
script(type="text/javascript", src="/js/navbar.js")
script(src="/js/responsive-nav.js")
//link(rel='stylesheet', href='/css/header.css')

header
	a(href="/")
		div(id="logoImg")
	div(id="logoTitle") 
	button(id="mobi-search")
	nav.nav-collapse
		ul
			li.menu-item
				a(href="/", data-scroll="") HOME
			li.menu-item
				.dropdown.dropdown-hover
					a CATEGORY 
					ul.dropdown-menu
						- for(var i=0 ; i< categories.length ; i++) {
							li
								a(href="/categories/" + categories[i]._id + "/1")= categories[i]._id
						- };				
			li.menu-item
				a(href="/home/about", data-scroll="") ABOUT
			li.menu-item
				a(href="/home/contact_us", data-scroll="") CONTACT
				
			li.menu-item
				div(class="row1")
					span
						form(action="/search")
							input(class="clean-slide", id="search-box" ,type="text", class="search-box", name="q")
							label(for="search-box") Search

	div(id="search-div", class="col-sm-12 col-xs-12")
		form(action="/search")
			input(id="search-text" ,type="text", name="q", placeholder="Search on Code Like Ninja")
			input(id="mobi-submit" ,type="submit" value="Go")
		
	script.
		function DropDown(el) {
			this.dd = el;
			this.initEvents();
		}

		DropDown.prototype = {
			initEvents: function () {
				var obj = this;

				// Determine if dropdown is on hover or on click
				$(".dropdown-hover").mouseenter(function (event) {
					event.stopPropagation();
					$(this).addClass("dropdown-active");                
				});

				$(".dropdown-hover").mouseleave(function () {
					$(".dropdown").removeClass("dropdown-active");
				});

				// Toggle .dropdown-active on click
				obj.dd.on('click', function (event) {
					event.stopPropagation();
					$(this).toggleClass('dropdown-active');                
				});
			}
		}

		$(function () {
			var dd = new DropDown($('.dropdown'));
			$(document).click(function () {
				// Remove class from all dropdowns
				$('.dropdown').removeClass('dropdown-active');
			});
		});


	script.
		$("#mobi-search").click(function(){
			$("#search-div").toggle();
		});




script(src="/js/fastclick.js")
script(src="/js/scroll.js")
script(src="/js/fixed-responsive-nav.js")






