script(type="text/javascript", src="/js/classie.js")
script(type="text/javascript", src="/js/navbar.js")
header
	.container-fluid.clearfix
		h1(id="logo") LOGO
		nav
			a(href="") Lorem
			a(href="") Ipsum
			a(href="") Dolor

//header(class="col-md-12 col-sm-12 col-xs-12")
	a(href="/")
		img(id="logo")
	h2(class="appTitle") Code-Like-Ninja


