extends layout

block content
  .row
    div(class="col-md-8 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        - for(var i=0 ; i< posts.length ; i++) {
            article(class="flex-item col-md-12")
              h2= posts[i].title
              ul(class="list-inline subhead")
                li ⌘ 30 Comments
                li
                  ul(class="list-inline")
                    li
                      img(src="/img/clock.png") 
                    li
                      p JUNE 12, 2015
                li
                  ul(class="list-inline")
                    li
                      img(src="/img/author.png") 
                    li= posts[i].author_name               
              .post-body.col-md-12
                .pic.col-md-3
                .post-content.col-md-9
                  p= posts[i].body
                  .readmore Read more ⬈
              .tag-body.col-md-12.list-inline
                p(class="tag-item") Tags : 
                p(class="tag-item") Node.js
                p(class="tag-item") Nginx
                p(class="tag-item") All other tags
        - };

      article(class="flex-item col-md-12")
        h5 Page
        ul(class="list-inline")
          li 
            a(href="/home/1") 1
          li .
          li .
          li
            a(href="/home/3") 3 
          li 
            - var count = pageNo;
            - count++;
            - if(count > (totPage/limit)) count = Math.ceil(totPage/limit);
              a(href="/home/" + encodeURIComponent(count)) Next ⬈ 


    div(class="secondary col-md-4 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h3 Connect With Us
        .social
          a(class="social-btn")
            img(src="/img/social/64x64/64-twitter.png")
          a(class="social-btn")
            img(src="/img/social/64x64/64-facebook.png")
          a(class="social-btn")
            img(src="/img/social/64x64/64-googleplus.png")
          a(class="social-btn")
            img(src="/img/social/64x64/64-rss.png")
          a(class="social-btn")
            img(src="/img/social/64x64/64-youtube.png")
      .subscribe
        .heading
          h3 Email Subscription
