doctype html
html
  head
    title= appTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    script(type="text/javascript", src="/js/jquery-2.0.3.min.js")
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Martel+Sans')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:700,900')
    link(rel='stylesheet', href='/css/build.css')
    link(rel='stylesheet', href='/css/searchBar.css')
    script(type="text/javascript", src="/css/bootstrap/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/twitter.js")
    script(type="text/javascript", src="/js/facebook.js")
    script(src="https://apis.google.com/js/platform.js", async defer)
    script(type="text/javascript", src="/js/disqus.js")


  body
    #wrap
      .container-fluid
        block header
            include ./header.jade
        //block navbar
            include ./navbar.jade       
        block content
        block sidebar
            include ./sidebar.jade
        block creators
            include ./creators.jade
        block footer
            include ./footer.jade
    script(type="text/javascript", src="/js/jquery.bootpag.min.js")
    //script(type="text/javascript", src="/js/page.js")


