block navbar
  div.navdiv
    ul(id="menu", class="nb-ul")
      li(class="nb-li")
        a(href="/") HOME
      li(class="nb-li")
        a(href="#") TUTORIALS
      li(class="nb-li")
        a(href="#") GAMING
      li(class="nb-li")
        a(href="/home/about") ABOUT
      li(class="nb-li")
        a(href="/home/contact_us") CONTACT