block navbar
  ul(id="menu", class="nb-ul")
    li(class="nb-li")
      a(href="/") Home
    li(class="nb-li")
      a(href="#") Tutorials
    li(class="nb-li")
      a(href="#") About 2
    li(class="nb-li")
      a(href="#") About
    li(class="nb-li")
      a(href="#") Contact