extends layout

block content
  .row
    div(class="col-md-8 col-sm-12 col-xs-12 main-container")
      ul(class="flex-container")
        article(class="flex-item col-md-12")
              h2.main-titles Subscription Confirmed

              .about-body.col-md-12
                p Thank you for subscribing. Have  agood day :)    
    

    div(class="secondary col-md-4 col-sm-12 col-xs-12 aside-container")
      .connect
        .heading
          h4 Connect With Us
        .social-ico
          ul(class="list-inline")
            li
              img(src="/img/twitter.png")
            li
              img(src="/img/google.png")
            li
              img(src="/img/git.png")
            li
              img(src="/img/facebook.png")
            li
              img(src="/img/lin.png")


        .subscribe
          div(class="section-inner text-center")  
            h5 Subscribe - We dont spam
              div(class="form-group email-box")
                input(type=text, class="form-control email", id=email, placeholder="Email")
                button(type=submit, class="mycustom-btn2") Subscribe
              
      .tagbox
        .heading
          h4 Tags
        .tags
          ul(class="tags")
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") HTML
            li
              a(href="#", class="tag") Nginx
            li
              a(href="#", class="tag") CSS
            li
              a(href="#", class="tag") Node.js
            li
              a(href="#", class="tag") Express
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Android
            li
              a(href="#", class="tag") C/C++  
            li
              a(href="#", class="tag") Java
            li
              a(href="#", class="tag") Aandroid
            li
              a(href="#", class="tag") C/C++           
